@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Kalnia+Glaze:wght@100..700&family=Oswald:wght@200..700&display=swap');
html{
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand{
    color: violet;
    text-decoration: none;
    font-size: 25px;
}
.navbar-brand:hover{
    font-size: 30px;
    color: #559CAD;
}
.font{
    font-family: "Kalnia Glaze", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}
.font2{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
.font3{
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
.img-fluid{
    height: 300px;
    width: 350px !important;
    object-fit: cover;
}
.card{
    border: none;
}

.col{
    padding-left: 100px;
}

.col-md-8{
    background-color: white;
    box-shadow: rgb(0,0,0,0.24)0px 3px 8px;
    height: 233px;
    position: absolute;
    left: 220px;
    width: 47.66666 !important;
    top: 38px;
}

.col-md-4{
    width: 52.3333333% !important;
}
.bi{
    font-size: 25px;
    cursor: pointer;
    color: blue;
}

@media only screen and (max-width: 600px){
    .col-md-8{
        left:0;
        top: 300px !important;
        width: 100% !important;
    }
    .col-md-4{
        flex: 0 0 auto;
        width: 100%;
    }
    .img-fluid{
        width: 500px !important;
        height: 500px !important;
    }
    .col{
        padding-left: 10px !important;
    }
    .container{
        padding-bottom: 250px !important;
    }
}

